@import url(<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">);



body{
    all: unset;
    background-color: #2d3437;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 20px;
    font-family: 'Roboto' sans-serif;
}


li {
    all:unset;
}

hr {
    color: #f7f7f7;
    margin: 0;
}

.lpadding{
    padding-left: 10%;
    padding-right: 10%;
}

.lpadding h1{
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 5px;
}

.lpadding h2{
    font-size: 2rem;
    padding-bottom: 20px;
}





.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3437;
    color: white;
    padding: 0.5em 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navBar a{
    font-size: 1.7em;
    color: #64b8f6;
}

.navBarMenu{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
}

.navBarMenu li a{
    font-size: 1rem;
    padding: 0.5em 1em;
    color: white;
    vertical-align: middle;
}

.navBar a:hover{
    color: #64B8F6;
    text-decoration: none;
}

.navBarToggleBtn{
    display: none;
    position: absolute;
    right: 2em;
    top: 0.2em;
}

.navBarToggleBtn img{
    width: 1em;
}






.initial{
    text-align: center;
    padding-top: 25em;
    padding-bottom: 25em;
    background-color: #2d3437;
    display: flex;
    flex-direction: column;
}

.initial h1{
    color: #64B8F6;
    font-size: 5em;
    padding-bottom: 0.5em;
}

.initial h2{
    color: white;
    padding-bottom: 4em;
}







.vision-box{
    background-color: #f7f7f7;
    color: #2d3437;
    text-align : center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.vision-box p {
    font-size: 1.5em;
}









.about-box{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    text-align: left;
    align-items: center;
}
.about-box ul{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-left: 50px;
}
.about-box li{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-card p{
 font-size: 2em;
}




.mission{
    display:flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img{min-height: 100%; max-width: 100%; }

.imgHoverEvent{
    width: 15em; 
    height: 15em; 
    position: relative; 
    overflow: hidden; 
    margin: 1%;
}

.imgHoverEvent .imgBox{
    width: 15em; 
    height: 15em; 
    text-align: center;
}

.imgHoverEvent .hoverBox{
    top: 0; 
    left: 0; 
    width: 15em; 
    height: 15em; 
    text-align: center;
}

.hoverBox p.p1{
    text-align: center; 
    font-size: 1.5em; 
    top: 0px;
    bottom: 0px;
}

.hoverBox p.p2{
    margin-top: 10%; 
    font-size: 0.75em;
} 


.hoverBox span h1{
    position: absolute;
    font-size: 1em;
    top: 0;
    text-align: center;
    margin: 0 auto;
}

.hoverBox span{
    color: white; 
    border: 4px solid #ccc; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    height: 2em; 
    width: 80%; 
    left: 10%;
    transition: 0.5s;
}

.hoverBox span p{
    opacity: 0;
}

.imgHoverEvent:hover .hoverBox span{
    animation: eventAni 0.8s linear 1; 
    height: 80%; 
    background: gray;
}

.imgHoverEvent:hover .hoverBox span p{
    animation: eventAni2 0.8s linear 1; 
    opacity: 1;
}

.imgHoverEvent:hover .hoverBox span h1{ opacity: 0; }

@keyframes eventAni{
    0%{height: 2em;}
    50%{height: 60%;}
    100%{height: 80%;;}
}
@keyframes eventAni2{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}










.partners ul{
    align-items: center;
    padding: 30px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.partners ul li{
    max-width: 150px;
    justify-items: ;
}

.partners li img{
    max-width: 120px;

}







.contact {
    background-color: #f7f7f7;
    padding-bottom: 100px;
    padding-top: 50px;
}

.contact a img{
    width: 40px;
}


.programcard{
    text-align: center;
    padding-bottom: 50px;
}




.slidecardsizing {
    padding-left: 20%;
    padding-right: 20%;
}








.recruitinfo ul{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}

.recruitinfo ul li{
    padding-top: 50px;
    padding-bottom: 30px;

    display: flex;
}

.recruitinfo ul li h3{
    font-size: 1.5em;
    font-weight: bold;
}

.recruitinfo ul li span:nth-child(1){
    width: 15%;
    color: #64B8F6;
    font-size: 1.5em;
    font-weight: bold;
}

.recruitinfo ul li span:nth-child(2){
    width:  75%;
}




@media screen and (max-width: 768px) {

    .navBar {
        min-width: 200px;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
    }
    .navBarMenu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navBarMenu li{
        width: 100%;
        text-align: center;
        padding: 1em;
    }

    .navBarToggleBtn{
        width: 1em;
        display: block;
    }

    .navBarMenu.active {
        display: flex;
    }

    .initial {
        padding-top: 15em;
        padding-bottom: 15em;
    }

    .vision-box p {
        font-size: 1em;
    }



    #internship h5 {
        font-size: 3%;
    }

    #internship p {
        font-size: 2%;
    }

    .lpadding h1{
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    .lpadding h2{
        font-size: 1.1rem;
        padding-bottom: 20px;
    }



    .recruitinfo ul li{
        display: inline-block;
    }

    .recruitinfo ul li h3 {
        padding-top: 0.5em;
    }

    .recruitinfo ul li p {
        padding-top: 0.5em;
    }
    

}
