html {
    width:100%;
}

body{
    font-family: 'Noto Sans KR';
    all: unset;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 20px;
    width:100%;
}

li {all:unset;}

hr {color: #f4f4f4; margin: 0;}

.lrpad{font-family: 'Noto Sans KR'; display: block; margin: 0 auto; max-width: 1080px; width: 100%}
.lrpad h1{font-size: 2.5rem;padding-top: 50px;padding-bottom: 20px; margin-bottom: 0;font-weight: 700;}
.lrpad h2{font-size: 1.5rem;padding-bottom: 20px;}
.lrpad h3{font-weight: 400; color: #5f5f5f; font-size: 1em; line-height: 25px;}
.lrpad h4{font-weight: 400; font-size: 1em;font-weight: 400; margin-top: 20px;}
.lrpad h5{font-weight: 400; font-size: 1.2em; font-weight: 700;}
.lrpad p{font-size: 1em; font-weight: 400; margin: 0;}
.lrpad a{color: #5f5f5f;}
.lrpad:hover a {text-decoration: none;}

.fitwidth {
    display: table;
}

.navBar {
    border: 2px solid #f4f4f4;
    font-family: 'Noto Sans KR';
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 540px 540px 1fr;
    grid-template-rows: 50px;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    font-weight: 700;
}

.navBar a{
    font-size: 1.7em;
    color: #0091ff;
    padding: 0;
}

.navBarMenu{
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    list-style: none;
}

.navBarMenu li a{
    font-size: 1rem;
    padding: 1em;
    color: #333333;
    vertical-align: middle;
    text-decoration: none;
}

.navBar a:hover{
    color: #468eea;
    text-decoration: none;
}

.navBarToggleBtn{
    display: none;
}

.navBarToggleBtn img{
    width: 1em;
    /* padding-right: 40px; */
}

.missionVision {
    padding-top: 80px;
    font-family: 'Noto Sans KR';
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.missionVision b{
    margin-top: 15px;
}

.missionVision h1 {
    font-size: 1.5em;
    color: #468eea;
    font-weight: 700;
}
.missionVision p {
    font-size: 1.1em;
}
#homeInternship {
    font-family: 'Noto Sans KR';
    max-width: 1080px;
    margin-top: 5em;
}


.mainTexting{
    font-family: 'Noto Sans KR';
    text-align: center;
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #2d3437;
}

.mainTexting h1{
    color: white;
    font-size: 5em;
    font-weight: 100;
    padding: 0;
}

.mainTexting h2{
    color: white;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 22px;
}

.mainTexting h3{
    color: white;
    font-size: 3em;
    padding-bottom: 0.5em;
    font-weight: 100;
}

.mainTexting p{
    color: white;
    font-weight: 400;
}

.mainTexting ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.applyNow {
    padding-top: 110px;
    padding-bottom: 90px;
    margin-top: 50px;
}

.apply {
    display: block;
    margin: auto;
    border-radius: 8px;
    width: 13em;
    height: 3em;
    background-color: #0091ff;
    margin-top: 34px;
}

.apply p {
    padding-top: 0.65em;
    color: white;
}

.program{
    max-width: 1080px;
    font-family: 'Noto Sans KR';
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.program h1 {
    text-align: center;
}

img{min-height: 100%; max-width: 100%; }

.imgHoverEvent{
    width: 350px; 
    height: 350px; 
    position: relative; 
}

.imgHoverEvent .imgBox img{
    border-radius: 20px;
    width: 350px; 
    height: 350px; 
}

.hoverBox p.p1{
    text-align: left; 
    font-size: 26px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.hoverBox p.p2{
    text-align: left;
    margin-left: 2rem;
    font-size: 18px;
} 

.hoverBox span h1{
    font-size: 26px;
}

.hoverBox span:nth-of-type(1) h1{
    text-align: left;
    position: relative;
    left: 40px;
    bottom: 112px;
}

.hoverBox span:nth-of-type(2) p{
    position: relative;
    left:  8px;
    top: 8px;
}

.hoverBox:hover span:nth-of-type(1) h1{
    opacity: 0;
}

.hoverBox span{
    color: white; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%; 
    left: 0;
}

.hoverBox span p{
    opacity: 0;
}

.imgHoverEvent:hover .hoverBox:nth-last-of-type(1) span{
    height: 100%; 
    background-color: gray;
    border-radius: 20px;
}

.imgHoverEvent:hover .hoverBox span p{
    opacity: 1;

}

.partners {
    font-family: 'Noto Sans KR';
    max-width: 1080px;
    display: table;
}

.partners ul{
    padding-top: 36px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    padding-left: 0;
}

.partners ul li{
    position: relative;
}

.partners ul li:nth-of-type(1) { background-image: url(images/daangn.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(2) { background-image: url(images/trevari.png); background-position: center; background-size: contain; background-repeat: no-repeat;} 
.partners ul li:nth-of-type(3) {background-image: url(images/mathpresso.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(4) { background-image: url(images/intake.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(5) { background-image: url(images/meatbox.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(6) { background-image: url(images/opensurvey.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(7) { background-image: url(images/fastcampus.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(8) { background-image: url(images/devsisters.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(9) { background-image: url(images/woowahan.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(10) { background-image: url(images/between.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(11) { background-image: url(images/class101.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(12) { background-image: url(images/gaudio.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(13) { background-image: url(images/mangoplate.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(14) { background-image: url(images/add2paper.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(15) { background-image: url(images/bunjang.png); background-position: center; background-size: contain; background-repeat: no-repeat;}
.partners ul li:nth-of-type(16) {
    text-align: center;
    color: gray;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Noto Sans KR';
}

.contact {
    font-family: 'Noto Sans KR';
    background-color: #f7f7f7;
    padding-bottom: 100px;
    padding-top: 50px;
    color: #5f5f5f;
}

#softBK {
    float: right;
    width: 160px;
}

.bggray {
    color: #b5b5b5
}
.contentBox {
    margin-bottom: 70px;
}

.high {padding-top: 70px;}
.boxs {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contentBox:hover {
    color: #468eea;
}

.boxing {
    width: 350px;
    height: 200px;
    overflow: hidden;
    padding-top: 52%;
    position: relative;
    border-radius: 20px;
    object-fit: contain;
}

.boxing img {
    border-radius: 20px;
    width: 700px;
    margin: auto;
    position: absolute;
    bottom: -100%;
    left: -100%;
    right: -100%;
    top: -100%;
    background-color: #d8d8d8;
}

.programProjectBox{
    height: 300px;
}

.NetworkingBox {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.programNetworkingBox {
    width: 520px;
}

.boxs a {
    color:#5f5f5f;

}

.summary {
    color: #5f5f5f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.summary .circle {
    border: 1px solid #5f5f5f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}


.WhiteCards {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.WhiteCard {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: white;
}

.WhiteCard p {
    font-size: 2.5em;
    color: black;
    margin-top: 0.25em;
}

.WhiteCards h3 {
    position: relative;
    top: 10px;
}
.WhiteCards h1 {
    position: relative;
    bottom: 10px;
}

.recruitinfo ul{
    font-family: 'Noto Sans KR';
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}

.recruitinfo ul li{
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
}

.recruitinfo p {
    margin-top: 10px;
}

.recruitinfo ul li h3{
    font-size: 1.5em;
    color: #468eea;
    font-weight: 700;
    padding-bottom: 1em;
}

.recruitinfo ul li span:nth-child(1){
    width: 20%;
    font-size: 2em;
    font-weight: 700;
    margin-right: 10%;
}

.recruitinfo ul li span:nth-child(2){
    font-size: 1em;
    width:  65%;
    color: #5f5f5f;
}

.recruitBoxs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 220px);
    column-gap: 20px;
    row-gap: 30px;
    align-items: start;
    justify-content: start;
    align-content: start;
}

.recruitBox {
    max-width: 300px;
    height: 20%;
}
.recruitBox ul {

    padding-top: 0;
    padding-bottom: 0;
}

.recruitBox ul li {
    font-size: 0.8em;
    padding: 0;
    color: #5f5f5f;
}
.recruitBox img {
    width: 250px;
    object-fit: contain;
}

.recruitBox h1 {
    padding-top: 10px;
    font-size: 1.5em;
}

.recruitBox:hover a {
    text-decoration: none;
    color: #468eea
}
.recruitBox:hover ul li {
    text-decoration: none;
    color: #468eea
}
.arrowdown img {
    display: none;
    object-fit: contain;
    width: 15px;
    height: 8px;
}
.arrowright img {
    margin-left: 5px;
    object-fit: contain;
    width: 20px;
    height: 10px;
}

.button1 {
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #468eea;
}

.button1 a {
    color: #468eea;
    padding: 10px 30px;
}

.button1:hover a {
    color: #468eea
}

.button2 {
    border-radius: 8px;
    background-color: #468eea;
    color: white;
    border: 1px solid #468eea;
    padding: 15px 70px;
    font-size: 1.2em;
}

.button2:hover a{
    color: #468eea;
}

.rule {
    display: flex;
    flex-direction: column;
}
.rule h3 {
    margin-top: 50px;
}
.rule p {
    margin-bottom: 36px;
    color: #5f5f5f;
}
.rule a {
    text-align: right;
    
}
.centering {
    text-align: center;
    margin-bottom: 100px;
}
.right1 {
    margin-top: 20px;
    float: right;
    font-size: 1em;
}

.right1:hover {
    color: #468eea;
}

.right {
    position: relative;
    bottom: 60px;
    float: right;
    font-size: 1em;
}

.right:hover {
    color: #468eea;
}
.navBarMain img {
    padding-bottom: 7px;
}

.programAll{
    margin-bottom: 70px;
    margin-top: 80px;
}

.lrpad .rule h3 {
    padding-bottom: 0px;
}
.text {
    display: block;
    color: #5f5f5f
}


@media screen and (max-width: 1080px) {
    body {font-size: 16px;}
    .lrpad {padding: 10px 15px;}
    .lrpad h1 {font-size: 2em;}
    .lrpad h3 {font-size: 15px;}
    .lrpad p {font-size: 16px;}
    .mainTexting li {margin-bottom: 35px;}
    .partners h1 {font-size: 2em;}
    .missionVision {
        display: block;
        margin: 0 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .text {
        width: auto;
        display: inline;
        word-break: keep-all;
        word-wrap: normal;
    }
    .mainTexting .lrpad h3 {font-size: 50px;}
    
    .missionVision h1 {font-size: 2em;}
    .missionVision p {font-size: 13px;}
    .mission {padding-right: 0;}
    .vision {padding-top: 10px; padding-right: 0;}
    .mobile {
        font-family: 'Noto Sans KR';
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        font-weight: 700;
        background-color: white;
        padding: 0 15px;
        margin-top: 0px;
        height: 54px;
    }
    .arrowdown {
        height: 8px;
        margin-bottom: 16px;
    }
    .arrowdown img {
        max-height: 8px;
        display: inline-block;
        object-fit: contain;
    }
    .arrowright img {
        display: none;
        object-fit: contain;
    }
    .programNetworkingBox {
        width: 330px;
    }
    .imgHoverEvent {
        margin-top: 16px;
        width: 290px;
        height: 290px;
    }
    .imgHoverEvent{
        width: 290px; 
        height: 290px; 
        position: relative; 
    }
    .hoverBox span:nth-of-type(1) h1{
        text-align: left;
        position: relative;
        left: 40px;
        bottom: 82px;
    }
    .hoverBox p.p2{
        font-size: 15px;
    }
    .imgHoverEvent .imgBox img{
        border-radius: 20px;
        width: 290px; 
        height: 290px; 
    }
    
    .mobile img{
        padding-bottom: 5px;
    }
    .navBar {
        display: flex;
        padding: 0;
        margin: 0;
    }
    .navBarMenu {  
        margin-top: 40px;
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }
    .navBarMenu li{
        flex-direction: column;
        text-align: center;
        padding: 1em;
    }
    .navBarToggleBtn{
        width: 1em;
        display: inline-block;
    }

    .navBarMenu.active {
        display: flex;
    }

    .mainTexting {
        margin-top: 40px;
        padding-bottom: 30px;
    }
    .mainTexting ul{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .mainTexting h2 {
        font-size: 2.5em;
    }

    .mainTexting ul li:nth-of-type(2) {
        display: none;
    }

    .mainTexting ul li:nth-of-type(4) {
        display: none;
    }
    .mainTexting p {
        padding: 10px 20px;
    }
    .programInternship {padding-top: 45px;}
    .programAll{
        margin-top: 10px;
    }
    
    .partners ul{
        max-width: 550px;
        padding-left: 0px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        row-gap: 1em;
        column-gap: 1em;
    }

    .recruitinfo ul li{
        display: inline-block;
    }

    .recruitinfo ul li h3 {
        font-size: 17px;
        color: #468eea;
        font-weight: 700;
        padding-bottom: 1em;
    }

    .recruitinfo ul li p {
        padding-top: 0.5em;
        font-size: 16px;
    }
    
    .recruitBoxs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 5px;
    }
    .recruitBox h1 {
        position: relative;
        top: -15px;
        padding: 0;
    }
    .recruitBox ul {
        padding-bottom: 30px;
    }

    .summary {
        padding-top: 30px;
        flex-direction: column;
    }
    #softBK {
        padding-top: 20px;
        width: 120px;
        float: left;
    }
    .rule h3 { font-size: 20px;}
    .rule a {font-size: 16px}
    .WhiteCards {margin: 0 10px}
    .WhiteCard p {
        font-size: 2em;
        color: black;
        margin-top: 0.25em;
    }
}
